<div class="profile">
  <div class="profile-photo">
    <img src="assets/images/profile_picture_complete.jpg" alt="Portrait of Johannes Reimer" />
  </div>
  <div class="profile-info">
    <h1>Dipl.-Ing. Johannes Reimer</h1>
    <p>
      Researching historic bridges @ <a href="https://tu-dresden.de/bu/bauingenieurwesen/imb">TU Dresden</a><br>
      Passionate hobby photographer • tech & design nerd<br>
      <a href="http://www.gernperdu.de/" target="_blank" rel="noopener noreferrer">#gernperDu</a>
    </p>
  </div>
</div>

<div class="social-links">
  <a href="mailto:johannes.reimer@mailbox.tu-dresden.de" class="social-link" aria-label="E-Mail" title="E-Mail"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/johannes-reimer" class="social-link" target="_blank" aria-label="LinkedIn" title="LinkedIn"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://matrix.to/@s0033609:tu-dresden.de#/@s0033609:tu-dresden.de" class="social-link" target="_blank" aria-label="Matrix" title="Matrix"><i class="fa-solid fa-comments" aria-hidden="true"></i></a>
  <a href="http://wa.me/qr/ICJJPK6CR4RIK1" class="social-link" target="_blank" aria-label="WhatsApp" title="WhatsApp"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
  <a href="https://t.me/johannes_reimer" class="social-link" target="_blank" aria-label="Telegram" title="Telegram"><i class="fa-brands fa-telegram" aria-hidden="true"></i></a>
  <a href="https://orcid.org/0000-0002-8600-0751" class="social-link" target="_blank" aria-label="ORCID" title="ORCID"><i class="fa-brands fa-orcid" aria-hidden="true"></i></a>
  <a href="https://github.com/JohannesReimer" class="social-link" target="_blank" aria-label="GitHub" title="GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
  <a href="https://www.researchgate.net/profile/Johannes-Reimer-3" class="social-link" target="_blank" aria-label="ResearchGate" title="ResearchGate"><i class="fa-brands fa-researchgate" aria-hidden="true"></i></a>
  <!-- <a href="############################################" class="social-link" target="_blank" aria-label="Google Scholar" title="Google Scholar"><i class="fa-solid fa-graduation-cap" aria-hidden="true"></i></a> -->
  <a href="https://www.instagram.com/johannes_foto" class="social-link" target="_blank" aria-label="Instagram" title="Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
  <a href="https://de.wikipedia.org/wiki/Benutzer:Johannes_Reimer" class="social-link" target="_blank" aria-label="Wikipedia" title="Wikipedia"><i class="fa-brands fa-wikipedia-w" aria-hidden="true"></i></a>
</div>
