<section class="section">
  <h1>404</h1>
  <div data-grain-command="highlight"></div>

  <article class="section">
    <h2 data-i18n="pageNotFound">{{ site.data.dictionary.de.pageNotFound }}</h2>
    <p data-i18n="pageNotFoundDescription">{{ site.data.dictionary.de.pageNotFoundDescription }}</p>
    <p>
      <span data-i18n="pageNotFoundAction1">{{ site.data.dictionary.de.pageNotFoundAction1 }}</span>
      <a
        href="{{ '/' | relative_url }}"
        data-i18n="homepage"
        data-i18n-attr="title:homepage"
        title="{{ site.data.dictionary.de.homepage }}"
      >{{ site.data.dictionary.de.homepage }}</a>
      <span data-i18n="pageNotFoundAction2">{{ site.data.dictionary.de.pageNotFoundAction2 }}</span>
      <a
        href="mailto:jreimer.mail@gmail.com"
        data-i18n="emailLowerCase"
        data-i18n-attr="title:email"
        title="{{ site.data.dictionary.de.email }}"
      >{{ site.data.dictionary.de.emailLowerCase }}</a>
      .
    </p>
  </article>

  <p class="huge-code">
      :-(
  </p>
</section>