<footer>
  <!-- Name and copyright -->
  <a href="{{ '/imprint/#license' | relative_url }}" title="CC0 1.0 Universal Public Domain Dedication">
    <i class="fa-brands fa-creative-commons-zero" aria-hidden="true"></i>
  </a>
  <span id="year">{{ 'now' | date: '%Y' }}</span>
  {{ site.data.facts.name | default: site.title }}

  <!-- Printing icon -->
  <a href="#" onclick="window.print();return false;" id="print"
      title='{{ site.data.dictionary[site.lang].print | default: "Print" }}'>
      <i class="fa-solid fa-print"></i>
  </a>

  <!-- Footer menu -->
  {% assign footer_menu = site.data.navigation.footer %}
  {% if footer_menu or site.languages %}
    <ul>
      {% if footer_menu %}
        {% for item in footer_menu %}
          <li>
            <a href="{{ item.url | relative_url }}" title="{{ item.title | default: item.name }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if site.languages and site.languages.size > 1 %}
        {% for language in site.languages %}
          {% if language != page.lang %}
            <li>
              <a href="{{ page.url | relative_url }}" title="{{ language }}">{{ language | upcase }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  {% endif %}
</footer>
