<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon_32x32.png' | relative_url }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon_16x16.png' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/favicon_apple_touch_icon.png' | relative_url }}" />
<link rel="manifest" href="{{ '/static/site.webmanifest' | relative_url }}" />
<link rel="mask-icon" href="{{ '/assets/favicon/favicon_safari_pinned_tab.svg' | relative_url }}" color="#597a78" />
<meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
<meta name="application-name" content="{{ site.title }}" />
<meta name="theme-color" content="#f2f6e7" />